<h3>DOCS</h3>
{{ if and .Site.Params.menu.section.auto .Site.Params.menu.section.collapsibleSidebar -}}
  {{ partial "sidebar/auto-collapsible-menu.html" . -}}
{{ else if and .Site.Params.menu.section.auto (not .Site.Params.menu.section.collapsibleSidebar) -}}
  {{ partial "sidebar/auto-default-menu.html" . -}}
{{ else if and (not .Site.Params.menu.section.auto) .Site.Params.menu.section.collapsibleSidebar -}}
  {{ partial "sidebar/manual-collapsible-menu.html" . -}}
{{ else if and (not .Site.Params.menu.section.auto) (not .Site.Params.menu.section.collapsibleSidebar) -}}
  {{ partial "sidebar/manual-default-menu.html" . -}}
{{ end -}}

<h3>COMPONENTS</h3>
<p>Wow!</p>

<h3>RESOURCES</h3>
<p>Some very helpful resources</p>

<h3>REFERENCE</h3>
<p>Videos and stuff like that</p>
