<!-- 
TODO: show the title of the file, turn line numbers on and off, etc.

Accepts these arguments:
	1. src: the file that the fragment is from.
	2. lang: the language the file is in. If not given, it will use the src
	file's extension name (without the ".", of course) as the extension name,
	so in most cases you don't need to specify it.
	3. section: the section of the excerpt (marked as // #docregion in code).
	If null, the full file will be rendered.
	4. base: the excerpt-base (i.e. the example name of the code you're
	referring to, so you don't need to type "architecture/web/index.html", only
	"web/index.html" is sufficient). You should put a page parameter called
	"excerptbase" so that you don't have to specify the example name over
	and over again.
	5. opts: additional opts to pass to the highlight funciton, if any.
	6. pattern: pattern to search for
	7. replace: string to replace the pattern with
 -->
{{ $src := .Get "src" }}
{{ $lang := default (substr (path.Ext $src) 1) (.Get "lang")}}
{{ $base := default .Page.Params.excerptbase (.Get "base")}}
{{ $section := default "" (.Get "section")}}
{{ $opts := .Get "opts" }}

{{ $jsonFile := path.Join "data/fragments/examples" $base (printf "%s.excerpt.json" $src) }}
{{ if os.FileExists $jsonFile }}
 	{{ if isset .Params "pattern" }}
		{{ highlight (index (getJSON $jsonFile) $section | replaceRE (.Get "pattern") (.Get "replace")) $lang $opts }}
	{{ else }}
		{{ highlight (index (getJSON $jsonFile) $section) $lang $opts }}
	{{ end }}
{{ else }}
 	{{ if isset .Params "pattern" }}
 		{{ highlight (path.Join "examples" $base $src | os.ReadFile | replaceRE (.Get "pattern") (.Get "replace")) $lang $opts }}
	{{ else }}
 		{{ highlight (path.Join "examples" $base $src | os.ReadFile) $lang $opts }}
	{{ end }}
{{ end }}